<div class="goback" (click)="goBack()">
  <button mat-flat-button class="custom-button-goback">
    <span class="material-symbols-outlined arrow"> arrow_back </span>
  </button>
  <p class="goback-text">Regresar</p>
</div>

<div class="container-article">
  <div class="container-article-image">
    <p class="identificador">MAES</p>
    <img src="./img/rectangle.png" alt="rectangle" />
    <div class="save-button">
      <app-save-button-2></app-save-button-2>
    </div>
  </div>
  <div class="article-content">
    <div class="article-title">
      <h5 class="article-title-text">
        Aplicación Informática como herramienta terapéutica para beneficiar la
        salud mental en adolescentes y jóvenes adultos
      </h5>
    </div>
    <div class="article-inf">
      <div class="info-item">
        <p class="article-inf-text">
          <strong class="article-inf-title">Registro:</strong>
          0092374
        </p>
      </div>
      <div class="info-item">
        <p class="article-inf-text">
          <strong class="article-inf-title">Clas.Local:</strong>
          TRABAJO ESPECIAL DE GRADO PREG 741.6 2011 MEN
        </p>
      </div>
      <div class="info-item">
        <p class="article-inf-text">
          <strong class="article-inf-title">Autor(es):</strong>
          López, Gioanny; Villasmil, Juan; Zambrano María (2023)
        </p>
      </div>
      <div class="info-item">
        <p class="article-inf-text">
          <strong class="article-inf-title">Notas de tesis: </strong>
          Trabajo Especial de Grado (Lic. en Diseño Gráfico)--Universidad Dr.
          Rafael Belloso Chacín, Facultad de Ciencias de la Informática, Escuela
          de Diseño Gráfico, Maracaibo, 2011
        </p>
      </div>
      <div class="info-item">
        <p class="article-inf-text">
          <strong class="article-inf-title">Tutores: </strong>
          Torrealba, Jorge; Oropeza, José
        </p>
      </div>
      <div class="info-item">
        <p class="article-inf-text">
          <strong class="article-inf-title">Palabras Clave: </strong>
          APLICACIÓN INFORMÁTICA, SALUD MENTAL, HERRAMIENTA TERAPÉUTICA
        </p>
      </div>
      <div class="info-item">
        <p class="article-inf-text">
          <strong class="article-inf-title">Ubicación: </strong>
          PROPIEDAD INTELECTUAL
        </p>
      </div>
    </div>
  </div>
</div>

<div class="downloads">
  <h2 class="download-text">Texto completo:</h2>

  <div class="container-download-buttons">
    <button mat-stroked-button class="custom-button-pdf">
      <mat-icon svgIcon="pdf" class="custom-icon"></mat-icon> CAPÍTULO I
    </button>
    <button mat-stroked-button class="custom-button-pdf">
      <mat-icon svgIcon="pdf" class="custom-icon"></mat-icon> CAPÍTULO II
    </button>
    <button mat-stroked-button class="custom-button-pdf">
      <mat-icon svgIcon="pdf" class="custom-icon"></mat-icon> CAPÍTULO III
    </button>
    <button mat-stroked-button class="custom-button-pdf">
      <mat-icon svgIcon="pdf" class="custom-icon"></mat-icon> CAPÍTULO IV
    </button>
    <button mat-stroked-button class="custom-button-pdf">
      <mat-icon svgIcon="pdf" class="custom-icon"></mat-icon> PRELIMINARES
    </button>
    <button mat-stroked-button class="custom-button-pdf">
      <mat-icon svgIcon="pdf" class="custom-icon"></mat-icon> FINALES
    </button>
  </div>
</div>
