<div class="saved-thesis-container">
  <div class="goback">
    <button mat-flat-button class="custom-button-goback" (click)="goBack()">
      <span class="material-symbols-outlined arrow"> arrow_back </span>
    </button>
    <p class="goback-text" (click)="goBack()">Regresar</p>
  </div>
  <p>Tus Tesis Guardadas</p>
  <div class="thesis-list">
    <div class="thesis-item">
      <div class="thesis-card" tabindex="0">
        <div class="container-article-image">
          <p class="identificador">MAES</p>
          <img src="./img/rectangle.png" alt="rectangle" />
        </div>
      </div>

      <div class="container-article">
        <div class="thesis-title">
          Aplicación Informática como herramienta terapéutica para beneficiar la
          salud mental en adolescentes y jóvenes adultos
        </div>
        <div class="thesis-actions">
          <button mat-stroked-button class="custom-button">
            <span class="material-symbols-outlined"> bookmark </span>
            Remover
          </button>
          <button mat-flat-button class="custom-button-seemore">Ver más</button>
        </div>
      </div>
    </div>

    <div class="thesis-item">
      <div class="thesis-card" tabindex="0">
        <div class="container-article-image">
          <p class="identificador">MAES</p>
          <img src="./img/rectangle.png" alt="rectangle" />
        </div>
      </div>

      <div class="container-article">
        <div class="thesis-title">
          Aplicación Informática como herramienta terapéutica para beneficiar la
          salud mental en adolescentes y jóvenes adultos
        </div>
        <div class="thesis-actions">
          <button mat-stroked-button class="custom-button">
            <span class="material-symbols-outlined">bookmark</span>
            Remover
          </button>
          <button mat-flat-button class="custom-button-seemore">Ver más</button>
        </div>
      </div>
    </div>
  </div>
</div>
