

    <app-search-bar>
        Barra de Busqueda
    </app-search-bar>
   
    <div class="scroll-box">
        <section class="scroll-content">
         
            <div class="content">
           
                <app-articles>
                    Articulo
                </app-articles>

                <app-articles>
                    Articulo
                </app-articles>


            </div>


        </section>
    </div>
    
    <app-paginator>
        Paginador
    </app-paginator>
