<div class="container-article">
  <div class="container-article-image">
    <p class="identificador">MAES</p>
    <img src="./img/rectangle.png" alt="rectangle" />
  </div>

  <div class="article-content">
    <div class="article-title">
      <h5 class="article-title-text">
        Aplicación Informática como herramienta terapéutica para beneficiar la
        salud mental en adolescentes y jóvenes adultos
      </h5>
    </div>

    <div class="container-other-buttons">
      <app-save-button-2></app-save-button-2>

      <button
        mat-flat-button
        class="custom-button-seemore"
        (click)="goTo('article-page')"
      >
        Ver más
      </button>
    </div>

    <div class="article-inf">
      <div class="info-item">
        <p class="article-inf-text">
          <strong class="article-inf-title">Autor(es):</strong> López, Gioanny;
          Villasmil, Juan; Zambrano María (2023)
        </p>
      </div>
      <div class="info-item">
        <p class="article-inf-text">
          <strong class="article-inf-title">Tutores:</strong> Torrealba, Jorge;
          Oropeza, José
        </p>
      </div>
      <div class="info-item">
        <p class="article-inf-text">
          <strong class="article-inf-title">Palabras Clave: </strong
          >APLICACIÓNINFORMÁTICA, SALUD MENTAL, HERRAMIENTA TERAPÉUTICA
        </p>
      </div>
    </div>

    <div class="container-download-buttons">
      <button mat-stroked-button class="custom-button-pdf">
        <mat-icon svgIcon="pdf" class="custom-icon"></mat-icon> CAPÍTULO I
      </button>
      <button mat-stroked-button class="custom-button-pdf">
        <mat-icon svgIcon="pdf" class="custom-icon"></mat-icon> CAPÍTULO II
      </button>
      <button mat-stroked-button class="custom-button-pdf">
        <mat-icon svgIcon="pdf" class="custom-icon"></mat-icon> CAPÍTULO III
      </button>
      <button mat-stroked-button class="custom-button-pdf">
        <mat-icon svgIcon="pdf" class="custom-icon"></mat-icon> CAPÍTULO IV
      </button>
      <button mat-stroked-button class="custom-button-pdf">
        <mat-icon svgIcon="pdf" class="custom-icon"></mat-icon> PRELIMINARES
      </button>
      <button mat-stroked-button class="custom-button-pdf">
        <mat-icon svgIcon="pdf" class="custom-icon"></mat-icon> FINALES
      </button>
    </div>
  </div>
</div>
