section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  min-height: 550px;
  gap: 3rem;
  width: 90%;
  margin: 3rem auto;
}

.text-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-info h3 {
  font-size: 2rem;
  line-height: normal;
  margin: 0;
  color: #001e44;
}

.text-info p {
  font-size: 1rem;
  line-height: normal;
  margin: 0;
}

.text-info span {
  font-size: 0.65rem;
  line-height: normal;
  margin: 0;
  color: grey;
  margin-top: 10px;
  margin-bottom: 10px;
}

.info-icon {
  font-size: 50px;
  height: auto;
  width: auto;
  color: #001e44;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  padding: 3rem 2rem 3rem 2rem;
  justify-content: center;
  width: 80%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.21);
  border-bottom: #3f51b5 15px solid;
  text-align: center;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

form h4 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #3f51b5;
}

form a {
  font-size: 0.875rem;
  color: #001e44;
  font-weight: 600;
  text-decoration: none;
}

form button {
  color: white;
  background-color: #3f51b5;
  border-radius: 5px;
  width: 70%;
  margin: auto;
  height: 56px;
}

form span {
  color: red;
}

@media screen and (min-width: 679px) {
  section {
    grid-template-columns: repeat(2, 1fr);
    margin: 1.5rem auto;
  }
  .form-container form {
    width: 90%;
  }
  .info-icon {
    font-size: 70px;
  }
  .text-info h3 {
    font-size: 2rem;
  }

  .text-info p {
    font-size: 1rem;
  }

  .text-info span {
    font-size: 0.7rem;
  }
  form h4 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  section {
    grid-template-columns: repeat(2, 1fr);
    margin: 1.5rem auto;
  }
  .form-container form {
    width: 60%;
  }
  .info-icon {
    font-size: 100px;
  }
  .text-info h3 {
    font-size: 3rem;
  }

  .text-info p {
    font-size: 1.25rem;
  }

  .text-info span {
    font-size: 0.8rem;
  }
  form h4 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1440px) {
  section {
    width: 1440px;
    margin: auto;
  }
}
