<section>
  <div class="text-info">
    <h3>Biblioteca de la</h3>
    <p>Universidad Rafael Belloso Chacin</p>
    <span>Libros, tesis, artículos y revistas cientifícas.</span>
    <mat-icon class="info-icon">menu_book</mat-icon>
  </div>
  <aside class="form-container">
    <form action="">
      <h4>Iniciar sesión</h4>
      <mat-form-field appearance="outline">
        <mat-label>Usuario <span>*</span></mat-label>
        <input matInput placeholder="" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Clave <span>*</span></mat-label>
        <input matInput placeholder="" />
      </mat-form-field>
      <button mat-button (click)="iniciarSesion()">Iniciar sesión</button>
      <span><a href="http://">Recuperar cuenta</a></span>
    </form>
  </aside>
</section>
