<div class="search-container">

    <div class="search-inputs">
        <!-- Input para Autor -->
        <div class="input-container">
            <span class="material-symbols-outlined input-color" >
                person
                </span>
            <input type="text" placeholder="Autor">
        </div>

        <div class="divider"></div> 
        <div class="ruler"></div>

        <!-- Input para Autor -->
        <div class="input-container">
            <span class="material-symbols-outlined input-color">
                description
                    </span>
            <input type="text" placeholder="Título">
        </div>

    </div>
    

    <div class="search-selects">
        <!-- Select para Año -->
        <div class="search-select-1">
            <select id="year-select">
                <option value="" disabled selected>Año</option>
                <option value="2024">2024</option>
                <option value="2023">2023</option>
                <option value="2022">2022</option>
                <option value="2021">2021</option>
            </select>
        </div>
    
        <!-- Select para Materia -->
        <div class="search-select-2">
            <select id="subject-select">
                <option value="" disabled selected>Materia</option>
                <option value="designer">Diseño Grafico</option>
                <option value="IT">Informatica</option>
                <option value="acounting">Contaduria</option>
                <option value="all">Todos</option>
            </select>
        </div>
    </div>


        <!-- Botón de búsqueda -->
        <div class="search-button">
            <button id="search-btn">
                <span class="material-symbols-outlined icon-saver">
                    search
                </span>
                <span class="search">Buscar</span>
            </button>
        </div>
    

         <!-- Botón de Guardados -->
        <div class="saves-button">
            <app-save-button-3>
                boton de guardados
            </app-save-button-3>
        </div>


</div>
