<nav class="navbar">
    <div class="logo">
        <a class="flag" href="/">
            <img src="https://cdn.urbe.edu/portal-urbe/images/logos/urbe-hd.png" alt="Logo" class="img-flag" />
        </a>
    </div>
    <div class="title-banner">
        <div class="title-overlay">
            <h1>PORTAL DE ESTUDIANTES</h1>
        </div>
    </div>
    <div class="custom-button">
        <button mat-mini-fab aria-label="menu icon">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
  </nav>
  