
    <div class="container">
        <div class="content">
            <div class="image">
                <img src="./img/rechazo.png" alt="Imagen de error 404">
            </div>
            
            <h1>La página solicitada no está disponible</h1>
            <p>Disculpe, tenemos un problema al ejecutar su solicitud. Es posible que haya encontrado un enlace roto.</p>
            
            <button mat-flat-button class="custom-button-inicio">Ir a pagina de inicio</button>

           
      </div>
        </div>
        


